<!DOCTYPE html>
<html ng-app="locationApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Map</title>
    <!-- Bootstrap -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/angular-animate.min.js"></script>
    <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDsbXZLQt0BCKZw-_-G82f6lBC1ucVRFMo">
    </script>
    <script src="/js/main.js"></script>
    <style>
    #test {
      background-color: yellow;
    }
    .test {
      background-color: blue;
    }
    </style>
  </head>
  <body>
    <div class="container-fluid">
      <div class="starter-template">
        <div class="row">
          <div class="col-md-2">

            <p class="lead">
              Add a location, one by one.<br/>
              Map it to find the center.
            </p>
            <div class="mid" ng-controller="LocationController">

              <form ng-submit="submitLocation()">
                <input ng-model="address" type="text" class="form-control input-box" placeholder="Enter a location">

                <ol class="places-list reveal-animation">
                  <li ng-repeat="loc in locations" class="reveal">
                    {{loc}}
                  </li>
                </ol>

                <input ng-click="addLocation()" class="btn btn-primary add-location" type="button" value="Add Location">


                    <input class="btn btn-success done-button" type="submit" value="Map it">                

                    <button ng-click="clear()" type="button" class="btn btn-danger clear-button">Clear</button>
             


                <div class="destination-container">
                  <p class="destination">{{ destination }}</p>
                </div>
              </form>

            </div>
          </div>

          <div class="col-md-10">
            <div id="map-canvas"></div>
          </div>
        </div>

        <!--
        <div ng-show="bool" class="zfade">
          Show and hide me
        </div>
        <button ng-click="bool=true">Toggle</button>
        -->

        <!--
        <div class="test" id="test">
          test
        </div>
        -->

      </div>
    </div>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
